<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
	 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-3.0.xsd
		">

	<context:component-scan base-package="example.test.dao.impl" />
	<context:component-scan base-package="example.test.service.impl" />

	<bean id="applicationContextProvider" class="example.test..factory.ApplicationContextProvider" />

	<import resource="classpath:datasource.xml" />
	<import resource="classpath:myBatis.xml" />
	<import resource="txManagement.xml" />

	<tx:annotation-driven transaction-manager="transactionManager" />
	<task:annotation-driven />

	<bean id="notificationService" class="example.test.services.impl.NotificationServiceImpl">
		<property name="notificationDao" ref="notificationDao" />
	</bean>

	<bean id="relationService" class="example.test.services.impl.RelationServiceImpl">
		<property name="relationDao" ref="relationDao" />
	</bean>

	<bean id="daoServiceLoggerBean" class="example.test.dao.DaoServiceLogger"
		scope="singleton" />

	<aop:config>
		<aop:aspect id="daoServiceAspect" ref="daoServiceLoggerBean">
			<aop:pointcut id="daoServicePointcut"
				expression="execution(* example.test.service.*Service.*(..))" />
			<aop:around pointcut-ref="daoServicePointcut" method="doLog" />
		</aop:aspect>
	</aop:config>

</beans>